<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Github information</title>
         <link rel="icon" href="https://assets-cdn.github.com/images/modules/logos_page/Octocat.png">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
      .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
      .fa-anchor,.fa-coffee {font-size:200px}
      </style>
      </head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="http://localhost:3000/login" class="w3-bar-item w3-button w3-padding-large">Home</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Login Page</h1>
  <p class="w3-xlarge">To login click on the login button</p>
    <form action="/auth/github/">
        <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top"><a>Login</a></button>
    </form>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Github Graph interface</h1>
      <h4 class="w3-padding-32">Basically this just compiles all the information of a said github repository</h4>

      <p class="w3-text-grey">There are 3 main graphs to choose from. A denograph, an interactive denograph and a custom repository information. It all is put into an svg and displayed on the screen.</p>
       <p class="w3-text-grey">The denograph, is a static graph that shows information on a given organisation, chosen from the drop down bar (only shows the first 30 commits from that organisation).</p>
        <p class="w3-text-grey">The interactive denograph, is a user friendly graph that shows information on a given organisation, chosen from the drop down bar. This graph is collapsable and shows only the information selected (only shows the first 30 commits from that organisation).</p>
        <p class="w3-text-grey">The last graph is the custom input interactive denograph. It allows you to get all the information on the last 30 commits, to that given repo. The owner and user must be selected in order for this to work.</p>
        <h5 class="w3-padding-32">If you have any other questions, fire me a message on <a href="https://github.com/nicolasarnold12321" target="_blank">GitHub</a></h5>
    </div>

    <div class="w3-third w3-center">
      <img src="https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-512.png"/>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Github is the reason why we don't all fail, remember that!</h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
 <p>Powered by w3.css<a href="https://github.com/nicolasarnold12321" target="_blank">(And a cusotomisation from Me Nicolas Arnold)</a></p>
</footer>
</body>
</html>

